<footer class="page-footer center-on-small-only second-color">
    <div class="col-md-12 header-footer">
        <div class="trait-footer"></div>
        <div class="logo">
            <img src="" alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs-down">
                <h5>Achats</h5>
                <ul>
                    <li><a href="">Administration</a></li>
                    <li><a href="">Voitures neuves</a></li>
                    <li><a href="">Voitures d'occasions</a></li>
                </ul>
            </div>
            <div class="col-md-4 hidden-xs-down">
                <h5>Service Client</h5>
                <ul>
                    <li><a href="">Prestations</a></li>
                    <li><a href="">Nous contacter</a></li>
                </ul>
            </div>
            <!--<div class="col-md-4 hidden-xs-down">
                <h5>Social</h5>
                <ul>
                    <a class="btn btn-floating btn-small btn-fb" href=""><i class="fa fa-facebook"> </i></a>
                    <a class="btn btn-floating btn-small btn-gplus" href="" rel="publisher"><i class="fa fa-google-plus"> </i></a>
                </ul>
            </div>-->
        </div>
    </div>
    <!--/.Footer Links-->
    <div class="social-section">
        <ul>

        </ul>
    </div>

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left no-padding-left">
                    <a href="https://www.renault.fr">Renault</a>
                </div>
                <div class="col-md-6 text-center text-md-right no-padding-right white-text">
                    <a href="">Informations légales</a>  © Nathan De Pachtere {{ "now"|date("Y") }}
                </div>
            </div>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
