<nav class="navbar navbar-toggleable-md navbar-dark scrolling-navbar fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path("homepage") }}">
            INDIAN CINEMA EVENTS
        </a>
        <div class="collapse navbar-collapse" id="collapseEx2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path("about") }}" class="nav-link">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Evénements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Film à l'affiche</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path("indian_cinema") }}" class="nav-link">Le cinéma Indien</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Gallerie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>