{% extends ':site-structure:base.html.twig' %}

{% block body %}
    <br>
    <section id="section-1 row">
        <h1 class="text-center">Curriculum vitae</h1>

    </section>
    <section id="section-1">
        <h1>Projets</h1>

    </section>
    <section id="section-1">
        <h1>Formation</h1>

    </section>
{% endblock %}