<nav class="navbar navbar-toggleable-md navbar-dark scrolling-navbar fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-center indian-festival-logo" href="{{ path("homepage") }}">
            GRENOBLE INDIAN <br> <small>FILM FESTIVAL</small>
        </a>
        <div class="collapse navbar-collapse" id="collapseEx2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#the-festival" class="nav-link">THE FESTIVAL</a>
                </li>
                <li class="nav-item">
                    <a href="#program" class="nav-link">PROGRAM</a>
                </li>
                <li class="nav-item">
                    <a href="#gallery" class="nav-link">GALLERY</a>
                </li>
                <li class="nav-item">
                    <a href="#the-association" class="nav-link">THE ASSOCIATION</a>
                </li>
                <li class="nav-item">
                    <a href="#partnerships" class="nav-link">PARTNERSHIPS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>