/*VARIABLES, TOOLS & ADD-ON*/
/*FONTS*/
/*@font-face {
  font-family: "RenaultLife-Regular";
  src: url("../font/Renault/RenaultLife-Regular.ttf");
}

$first-font: "RenaultLife-Regular";

@font-face {
  font-family: "RenaultLife-Bold";
  src: url("../font/Renault/RenaultLife-Bold.ttf");
}

$second-font: "RenaultLife-Bold";

@font-face {
  font-family: "RenaultLife-BoldItalic";
  src: url("../font/Renault/RenaultLife-BoldItalic.ttf");
}

$third-font: "RenaultLife-BoldItalic";

@font-face {
  font-family: "RenaultLife-Italic";
  src: url("../font/Renault/RenaultLife-Italic.ttf");
}

$fourth-font: "RenaultLife-Italic";

@font-face {
  font-family: "RenaultLife-Light";
  src: url("../font/Renault/RenaultLife-Light.ttf");
}

$fifth-font: "RenaultLife-Light";

@font-face {
  font-family: "RenaultLife-LightItalic";
  src: url("../font/Renault/RenaultLife-LightItalic.ttf");
}

$sixth-font: "RenaultLife-LightItalic";*/
/*COLORS*/
/* line 57, ../sass/_var.scss */
.first-color {
  background-color: #FFCC33 !important;
}

/* line 61, ../sass/_var.scss */
.first-color-text {
  color: #FFCC33 !important;
}

/* line 65, ../sass/_var.scss */
.second-color {
  background-color: #2c3d4f !important;
}

/* line 69, ../sass/_var.scss */
.second-color-text {
  color: #2c3d4f !important;
}

/* line 73, ../sass/_var.scss */
.third-color {
  background-color: #666666 !important;
}

/* line 77, ../sass/_var.scss */
.third-color-text {
  color: #666666 !important;
}

/* line 81, ../sass/_var.scss */
.fourth-color {
  background-color: black !important;
}

/* line 85, ../sass/_var.scss */
.fourth-color-text {
  color: black !important;
}

/* line 89, ../sass/_var.scss */
.fifth-color {
  background-color: white !important;
}

/* line 93, ../sass/_var.scss */
.fifth-color-text {
  color: white !important;
}

/* line 97, ../sass/_var.scss */
.sixth-color {
  background-color: #999999 !important;
}

/* line 101, ../sass/_var.scss */
.sixth-color-text {
  color: #999999 !important;
}

/* line 105, ../sass/_var.scss */
.seventh-color {
  background-color: #CCCCCC !important;
}

/* line 109, ../sass/_var.scss */
.seventh-color-text {
  color: #CCCCCC !important;
}

/* line 1, ../sass/_tools.scss */
.no-shadow {
  box-shadow: none !important;
}

/* line 5, ../sass/_tools.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 9, ../sass/_tools.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 13, ../sass/_tools.scss */
.no-padding-top {
  padding-top: 0;
}

/* line 17, ../sass/_tools.scss */
.no-padding-bottom {
  padding-bottom: 0;
}

/* line 21, ../sass/_tools.scss */
.bold {
  font-weight: bold;
}

/* line 25, ../sass/_tools.scss */
.half-with {
  width: 50%;
}

/* YOUR CUSTOM STYLES */
/* Necessary for full page carousel*/
/* line 4, ../sass/_custom.scss */
html,
body,
.view {
  height: 100%;
}

/* line 10, ../sass/_custom.scss */
.carousel,
.carousel-item,
.active {
  height: 100%;
}

/* line 16, ../sass/_custom.scss */
.carousel-inner {
  height: 100%;
}

/* line 23, ../sass/_custom.scss */
#carousel-fullscreen .carousel-item:nth-child(1) {
  background-image: url("../assets/design-images/carousel-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 30, ../sass/_custom.scss */
#carousel-fullscreen .carousel-item:nth-child(2) {
  background-image: url("../assets/design-images/carousel-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 37, ../sass/_custom.scss */
#carousel-fullscreen .carousel-item:nth-child(3) {
  background-image: url("../assets/design-images/carousel-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 45, ../sass/_custom.scss */
.index-section {
  padding-bottom: 100px;
  padding-top: 100px;
}

/* line 50, ../sass/_custom.scss */
footer.page-footer {
  background-color: #1C2331;
  margin-top: 0;
}

/* line 1, ../sass/_navigation.scss */
.navbar {
  background-color: #2c3d4f;
}
/* line 3, ../sass/_navigation.scss */
.navbar .navbar-brand {
  font-weight: bold;
}
/* line 6, ../sass/_navigation.scss */
.navbar .navbar-toggler-icon {
  color: white !important;
}

/* line 11, ../sass/_navigation.scss */
.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* line 17, ../sass/_navigation.scss */
.top-nav-collapse {
  background-color: #2c3d4f;
}

@media only screen and (max-width: 768px) {
  /* line 22, ../sass/_navigation.scss */
  .navbar {
    background-color: #2c3d4f;
  }
}
