
/* Necessary for full page carousel*/

html,
body,
.view {
  height: 100%;
}

.carousel,
.carousel-item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}


#carousel-fullscreen{

  .carousel-item:nth-child(1) {
    background-image: url("../assets/design-images/carousel-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-item:nth-child(2) {
    background-image: url("../assets/design-images/carousel-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-item:nth-child(3) {
    background-image: url("../assets/design-images/carousel-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.index-section{
  padding-bottom: 100px;
  padding-top: 100px;
}

footer.page-footer {
  background-color: #1C2331;
  margin-top: 0;
}